body {
	overflow: hidden;
	border: 0;
	border-radius: 0;
}

.info-item {
	width: 100%;
	height: 100vh;
	margin-top: 100px;
}

.info-item .content {
	width: 68%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}


.content .container {
	width: 30%;
	margin: 0;

}

.info-item .wrapper {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.options{
	overflow-y: scroll;
}



button span {
	position: relative;
	display: inline-block;
	transform: translateX(0);
	transition: transform 0.3s ease;
	color: #0982e5;
	font-size: 3rem;
	font-weight: 900;
}

button {
	background: transparent;
	border: none;
}

.previous:hover span {
	transform: translateX(-1px) scale(1.0);
}

.next:hover span {
	transform: translateX(1px) scale(1.0);
}

.slidery img {
	max-width: 100%;
	display: none;
	box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
	border-radius: 20px;
}

.slidery img.active {
	display: block;
	animation: fadeImg 0.5s;
}

.slider-nav a {
	flex-basis: 100%;
	display: flex;
	align-items: center;
}

.slider-nav span {
	display: block;
	width: 100%;
}

@keyframes fadeImg {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}



.info-container {
	width: 100%;
}

.folder {
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(83, 83, 83, 0.144);
	padding: 10px;
}

.nested {
	display: none;
	padding-left: 10px;
	padding-top: 20px;
}