@import '/css/colors.css';

.hero {
	margin-top: 100px;

	.hero__content {
		display: flex;
		gap: 20px;
	}

	.hero__content_title h1 {
		width: 800px;
		margin-top: 150px;
		font-weight: 600;
		font-size: 70px;
		color: #313940;
	}

	.hero__content_video {
		position: relative;
		overflow: hidden;
		background: var(--white-color);
		border-radius: 30px;
		border-color: transparent;
		border-style: solid;
		width: 500px;
		height: 750px;
		padding: 10px;
	}

	.hero__content_video img {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.hero__content_title {
		display: flex;
		flex-direction: column;
		background: var(--white-color);
		border-radius: 30px;
		border-color: transparent;
		border-style: solid;
		width: 1000px;
		height: 670px;
		padding: 50px;

	}

	.hero__content_title span {
		width: 500px;
		color: #313940;
		font-size: 30px;
		font-weight: 500;
		margin-top: 30px;
	}
}

/* Curcle */

.curcle {
	margin-top: 100px;
	height: 600px;
}

.curcle__content {
	display: flex;
}

.curcle__content_balls {
	position: relative;
	width: 900px;
}

.bals-1 {
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #a5cbf8;
	box-shadow: 0px 0px 20px 0px rgba(199, 199, 199, 0.2);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	z-index: -1;
	top: 10px;
	left: 230px;
	align-items: center;
}

.bals-1 h2 {
	margin-top: 70px;
	color: var(--white-color);
	font-size: 60px;
	font-weight: 600;
}

.bals-1 span {
	color: var(--white-color);
	font-weight: 500;
	text-align: center;
	margin-top: 20px;
	width: 200px;
}

.bals-2 {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 400px;
	height: 400px;
	background: var(--var-color);
	box-shadow: 0px 0px 20px 0px rgba(199, 199, 199, 0.2);
	border-radius: 50%;
	z-index: -2;
	top: 200px;
	align-items: center;
}

.bals-2 h2 {
	margin-top: 140px;
	color: var(--white-color);
	font-size: 60px;
	font-weight: 600;
}

.bals-2 span {
	color: var(--white-color);
	font-weight: 500;
	width: 200px;
	text-align: center;
	margin-top: 20px;
}

.bals-3 {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 250px;
	height: 250px;
	background: #4c7ec6;
	box-shadow: 0px 0px 20px 0px rgba(199, 199, 199, 0.2);
	border-radius: 50%;
	z-index: -3;
	top: 500px;
	left: 270px;
	align-items: center;
}

.bals-3 h2 {
	margin-top: 60px;
	color: var(--white-color);
	font-size: 60px;
	font-weight: 600;
}

.bals-3 span {
	color: var(--white-color);
	font-weight: 500;
	text-align: center;
	margin-top: 20px;
	width: 200px;
}

.curcle__content_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
}

.curcle__content_title h2 {
	font-size: 70px;
	font-weight: 500;
	color: #313940;
}

.curcle__content_title span {
	width: 600px;
	margin: 30px;
	font-size: 28px;
	color: #313940;
	line-height: 180%;
	font-weight: 500;
}

.curcle-button {
	border: unset;
	margin-top: 30px;
	background: var(--background-color);
}

.curcle-button a {
	color: var(--white-color);
	font-size: 25px;
	font-weight: 700;
	background: var(--var-color);
	border-radius: 30px;
	padding: 20px 100px;
}

.curcle-button a:hover {
	background: var(--background-color);
	color: var(--var-color);
	font-weight: 600;
}